<h4>Welcome, <%= current_user.fullname %></h4>
<h6>As a Doctor, you have privileges to access patients, doctors and Appointment information.</h6>
<br>
<br>
<script>
    $(document).ready(function() {
        $('select').material_select();
    });
</script>